<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый пользователь</title>
</head>
<body>

<h1>Новый пользователь</h1>

<form th:method="POST" th:action="@{/admin/new}" th:object="${user}">

    <label for="name">Имя:</label>
    <input type="text" th:field="*{name}" id="name" placeholder="name">
    <br/>
    <label for="surname">Фамилия:</label>
    <input type="text" th:field="*{surname}" id="surname" placeholder="surname">
    <br/>
    <label for="age">Возраст:</label>
    <input type="text" th:field="*{age}" id="age" placeholder="age">
    <br/>
    <label for="username">E-mail:</label>
    <input type="text" th:field="*{username}" id="username" placeholder="e-mail">
    <br/>
    <label for="password">Пароль:</label>
    <input type="text" th:field="*{password}" id="password" placeholder="password">
    <br/>
    <br/>
    <label for="role">Роль:</label>
    <select multiple="multiple" th:field="*{roles}" th:type="text" id="role">
        <option th:each="role : ${roles}" th:value="${role.getRoleId(role.getName())}" th:text="${role.getName()}"></option>
    </select>
    <br/>
    <br/>
    <input type="submit" value="Создать">
    <br/>
    <br/>
    <a href="/admin">Вернуться на страницу администратора</a>
    <br/>
    <br/>
    <form th:action="@{/logout}" th:method="POST">
        <input type="submit" value="Выйти"/>
    </form>
</form>

</body>
</html>

